/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-variant-ligatures: common-ligatures;
  line-height: 1.67;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply px-5 mx-auto mt-20;
  max-width: 800px;
}

a {
  @apply underline;
  color: #0c93e4;
}

.block,
.details {
  page-break-inside: avoid;
}

section {
  @apply mb-10;
}

header {
  @apply mb-10;
}
header h1 {
  @apply border-b border-gray-400 pb-3 mb-5 flex flex-wrap-reverse justify-between;
}
header h1 .title {
  @apply text-4xl text-gray-400 font-bold order-last;
}
header h1 .name {
  @apply text-4xl font-bold;
}
header h1 .profession {
  @apply text-base font-bold flex-initial break-all;
}
header blockquote {
  @apply text-gray-500;
}

section h2 {
  @apply text-2xl font-bold border-b border-gray-400 pb-2 mb-10 print:mb-8;
}
section h3 {
  @apply text-xl font-bold;
}

.tags span {
  @apply inline-block px-2 mr-1 mt-2 rounded-sm bg-gray-200;
}

.quickfacts p {
  @apply mb-5 flex;
}
.quickfacts p img {
  @apply mr-3 flex-initial;
}
.quickfacts p span {
  @apply flex-initial;
}

.details {
  @apply block mb-10 clear-both;
}
.details h3 small {
  @apply text-gray-300 ml-3;
}
.details img {
  @apply float-right mt-3 ml-2 mb-2;
  width: 90px;
}
.details .description {
  @apply mt-5;
}

.experience ul {
  @apply list-disc list-inside ml-5 mb-10;
}

.education .details .description {
  @apply mt-0;
}

.openSource .details .description {
  @apply mt-2;
}

@media print {
  @page {
    margin: 2.5cm;
  }
  html,
  body {
    font-size: 12pt !important;
    line-height: 1.4 !important;
  }
  .container {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  .details img {
    width: 3cm;
  }
  .aside {
    display: none !important;
  }
}
