/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-variant-ligatures: common-ligatures;
  line-height: 1.67;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
